
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

button {
    background-color: #3882F6;
    color: #FFF;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
}

/* kept the container divs in the center of the page */
body > div {
    display: flex;
    justify-content: center;
}

.container {
    flex: 0 1;
    flex-basis: 1023px;
    padding: 24px 8px;
}

/* Header Section */

.header {
    background-color: #1F2937;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.header ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

.header li {
    font-size: 18px;
    color: #E5E7EB;
}

/* Hero Section */

.hero {
    background-color: #1F2937;
    padding: 88px 0;
}

.hero .container {
    display: flex;
    gap: 48px;
    flex-wrap: wrap-reverse;
}


.left {
    flex: 4 1 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    line-height: 60px;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    line-height: 24px;
}

.hero button {
    border-color: #1F2937;
}

.right {
    background-color: rgb(110, 116, 124);
    color: #F9FAF8;
    font-size: 18px;
    flex: 5 1 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Information */

.info {
    padding: 36px 0;
}

.info .container > p {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.box-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 16px 8px;
}

.img {
    border: 4px solid #3882F6;
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.infobox {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.infobox p {
    text-align: center;
}

/* Quotation */

.quote {
    background-color: #E5E7EB;
    padding: 72px 0;
}

.quotation {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    max-width: 860px;
    color: #1F2937;
    margin: 0 auto;
    line-height: 42px;
}

.credit {
    font-weight: 600;
    max-width: 860px;
    margin: 0 auto;
    font-size: 24px;
    text-align: right;
}

/* Call to Action */

.cta .container {
    display: flex;
    justify-content: center;
    max-width: 1023px;
    flex-wrap: wrap;
    background-color: #3882F6;
    margin: 78px 8px;
    border-radius: 10px;
    padding: 48px 8px;
}

.blue-box {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-basis: 800px;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 16px;
}

.blue-box .left {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
}

.cta-heading {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.cta-text {
    color: #E5E7EB;
    font-size: 18px;
}

.blue-box button {
    flex: 0 1 auto;
    border: 2px solid#F9FAF8;
}

/* Footer */

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 40px;
}